#content-panel-body {
    background-image: url(images/square.gif);
}

#content-panel-innerCt {
    //padding: 20px;
    padding-top: 20px;

}

.x-action-col-icon {
    height: 16px;
    width: 16px;
    margin-right: 8px;
}


.ks-profile-switcher {
    margin: 0 15px;
    cursor: pointer;
    background-image: url(images/options.png);
    width: 22px;
    height: 22px;
}